<form [formGroup]="formPreview" (ngSubmit)="onSubmit()">
  <div formGroupName="components">
    @for (c of formComponents(); track c.name) {
      <label [for]="c.name">{{ c.label + ":" }}</label>
      @if (c.type === "select") {
        <select [name]="c.name" id="c.name">
          @for (v of c.values; track v) {
            <option [value]="v">{{ v }}</option>
          }
        </select>
      } @else {
        <input [id]="c.name" [type]="c.type" [formControlName]="c.name" />
      }
      <br />
    }
  </div>
  <button type="submit">Submit</button>
</form>
